.Confirmation{
    text-align: center;
    padding: 1%;
}
.ConfirmationTableHead, .ConfirmationTableBody{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    color: #EAEBEF;
}
.ConfirmationTableBody{
    border: 1px solid #EAEBEF;
    border-radius: 5px;
    padding: 2% 0;
}
.ConfirmationTableBody:hover{
    background-color: #EAEBEF !important;
    color: black;
}