.ViewBikeCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
    margin: 1%;
    border-radius: 10px;
    border: 4px solid white;
}
.bikeImage{
    width: 100%;
    height: 100%;
}
.bikeDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bikeDetail>*{
    margin: 3%;
}
.ViewBikeCard:hover{
    border: 4px solid brown;
}
.ViewBikeCardLeft{
    padding: 2% 4%;
}
.ViewBike .Bikes{
    height: 25vw;
}
